.temporaryClass {
  text-decoration: none;
}

.button {
  text-decoration: none;
}

.linkBack {
  text-decoration: none;
}

.movieBox {
  text-decoration: none;
}

.movieInfo {
  text-decoration: none;
}

.genresList {
  text-decoration: none;
}

.infoBox {
  text-decoration: none;
}
